.foto-cascata {
  position: absolute;
  top: -150px;
  width: 120px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  animation-name: cair;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cair {
  to {
    top: 100vh;
  }
}
